@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown: #d87d4a;
  --light-brown: #fbaf85;
  --af-light-black: #131313;
  --af-grey: #f1f1f1;
  --af-light-grey: #fafafa;
  --btn-black: #4c4c4c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
